<% @categories.each_slice(4) do |category| %>
  <div class="container">
    <% category.each do |cat| %>
      <div class="col-md-3">
        <div class="menu_item">
          <h3><%= link_to cat.name, menu_item_by_slug_url(slug: cat.slug) %></h3>    
        </div>
      </div>
    <% end %>
  </div>
<% end %>